<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.jpeg"%>
<table class="user-info table-sm w-100">
  <tbody>
    <tr class="border-top">
      <th>name</th>
      <th style="word-break: break-all;"><%= user.name %></td>
    </tr>
    <tr class="border-top">
      <th>introduction</th>
      <th><%= user.introduction %></td>
    </tr>
  </tbody>
</table>


<%= link_to edit_user_path(user), class: "btn btn-defolt btn-block btn-outline-secondary" do %>
  <i class="fas fa-user-cog"></i>
<% end %>


<h2>New book</h2>
<%= form_with model:book, local:true do |f| %>
  <h6>Title</h6>
  <%= f.text_field :title, class: 'mb-3 w-100'%>
  <h6>Opinion</h6>
  <%= f.text_area :body, class: 'w-100' %>
  <%= f.submit "Create Book", class: 'btn btn-success mt-2' %>
<% end %>